{% extends "base.html" %}

{% block head_title %}Checkout List || {{ block.super }}{% endblock head_title %}

{% block content %}
<h3>Checkout List&nbsp&nbsp&nbsp&nbsp<a href="/checkoutadd">Checkout</a></h3>

{% if object_list %}
    <table id="checkout">
        <tr>
            <th>Game</th>
            <th>Attendee</th>
            <th>Owner</th>
            <th>Out</th>
            <th>In</th>
            <!--<th>PreCondition</th>-->
            <!--<th>PostCondition</th>-->
            <!--<th>PostWeight</th>-->
            <th>Check In</th>
        </tr>
        {% for obj in object_list %}

            <tr>
                <!--<td><small><a href="/checkoutdetail/{{ obj.pk }}">{{ obj }}</a></small></td>-->
                <td><small>{{ obj.BoardgameFromCollection.Boardgame.Name }}</small></td>
                <td><small>{{ obj.Attendee.LastName }}, {{ obj.Attendee.FirstName }}</small></td>
                <td><small>{{ obj.BoardgameFromCollection.Person.LastName }}, {{ obj.BoardgameFromCollection.Person.FirstName }}</small></td>
                <td><small>{{ obj.CheckedOutTime }}</small></td>
                <td><small>{{ obj.CheckedInTime }}</small></td>
                <!--<td><small>{{ obj.PreConditionNote }}</small></td>-->
                <!--<td><small>{{ obj.PostConditionNote }}</small></td>-->
                <!--<td><small>{{ obj.PostWeight }}</td>-->
                {% if not obj.CheckedInTime %}
                    <td bgcolor = #FFFF00><small><a href="/checkoutdetail/{{ obj.pk }}">Check In</a></small></td>
                {% else %}
                    <td><small>&nbsp</small></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    {# .... **Now the pagination section** .... #}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/checkout?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/checkout?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% else %}
    <p>No checkouts</p>
{% endif %}

{% endblock content %}