{% extends "base.html" %}

{% block head_title %}Collection List || {{ block.super }}{% endblock head_title %}

{% block content %}
<h1>Collection List&nbsp&nbsp&nbsp&nbsp<small><a href="/collectionadd">Add</a></small></h1>

{% if object_list %}
    <table id="collection">
        {% for obj in object_list %}
            <tr>
                <td><a href="/collectiondetail/{{ obj.pk }}">{{ obj }}</a> {{obj.CreatedTime}} {{obj.ModifiedTime}}</td>
            </tr>
        {% endfor %}
    </table>
    {# .... **Now the pagination section** .... #}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/collection?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/collection?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% else %}
    <p>Add items</p>
{% endif %}


{% endblock content %}