{% extends "base.html" %}

{% block head_title %}Collection List || {{ block.super }}{% endblock head_title %}

{% block content %}
<h3>Collection List&nbsp&nbsp&nbsp&nbsp<small><a href="/collectionadd">Add</a></small></h3>

{% if object_list %}
    <table id="collection">
        {% for obj in object_list %}
            <tr>
                <td><a href="/collectiondetail/{{ obj.pk }}">{{ obj.Boardgame.Name }}</a></td>
                <td>{{ obj.Person.LastName }},{{ obj.Person.FirstName }}</td>
                <td><small>{% if obj.AvailableAtEvent == True %}Bringing {% else %}&nbsp{% endif %}</small></td>
                {% if obj.Boardgame.BGGRef|length > 0 %}
                    <td><a href="{{ obj.Boardgame.BGGRef }}" target="blank">BGG</a></td>
                {% else %}
                    <td>&nbsp</td>
                {% endif %}
                {% if obj.Shelved == True %}
                    {% for co in obj.checkout_set.all %}
                        {% if not co.CheckedInTime %}
                            <td bgcolor = #FFFF00><a href="/checkoutdetail/{{ co.pk }}">Check In</a></td>
                            <td>{{ co.CheckedOutTime }}</td>
                            <td>{{ co.Attendee }} </td>
                        {% else %}
                            <td><a href="/checkoutadd">Checkout</a></td>
                        {% endif %}
                    {% empty %}
                        <td><a href="/checkoutadd">Checkout</a></td>
                    {% endfor %}
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    {# .... **Now the pagination section** .... #}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/collection?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/collection?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% else %}
    <p>Add items</p>
{% endif %}


{% endblock content %}