<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block head_title %}Game Library{% endblock head_title %}</title>
    {% include 'snippets/css.html' %}

	<h1>Game Library&nbsp&nbsp&nbsp&nbsp{% if not request.user.is_authenticated %}<small><a href="\login">Log In</a></small>{% else %}<small><a href="\logout">Logout</a></small>{% endif %}</h1>
  </head>

<body>

{% include 'snippets/nav.html' %}
{% block content %}{% endblock content %}
</div>

{% include 'snippets/js.html' %}
</body>


	<footer>
		<div class="row pad">
			<div class="col-lg-12 text-center">
				Copyright &copy; 2018 <strong>Gamers Who Care</strong>
			</div>
		</div>
	</footer>
</html>