{% extends "base.html" %}
{% block head_title %}{{ block.super }}{% endblock head_title %}

{% block content %}
<h5>Welcome! Browse our collection. Visit the library counter to check out a game.</h5>
<table>
    <tr>
        <th>Title</th>
        <th>Count</th>
    </tr>
    <tr>
        <td>10 Days in Africa</td>
        <td>1</td>
    </tr>
	<tr>
		<td>10 Days in Asia</td><td>1</td>
	</tr>
	<tr><td>10 Days in Europe</td><td>1</td></tr>
	<tr><td>10 Days in the Americas</td><td>1</td></tr>
	<tr><td>10 Days in the USA</td><td>1</td></tr>
	<tr><td>13 Days</td><td>1</td></tr>
	<tr><td>13 Minutes: The Cuban Missile Crisis</td><td>2</td></tr>
	<tr><td>1775: Rebellion</td><td>1</td></tr>
	<tr><td>1800</td><td>1</td></tr>
	<tr><td>1830: Railways & Robber Barons</td><td>1</td></tr>
	<tr><td>1844/1854</td><td>1</td></tr>
	<tr><td>1846: The Race for the Midwest</td><td>2</td></tr>
	<tr><td>1886</td><td>1</td></tr>
	<tr><td>1889: History of Shikoku Railways</td><td>1</td></tr>
	<tr><td>1890</td><td>1</td></tr>
	<tr><td>18CZ</td><td>1</td></tr>
	<tr><td>18Ireland</td><td>1</td></tr>
	<tr><td>18 Wheeler</td><td>1</td></tr>
	<tr><td>1989 Dawn of Freedom</td><td>1</td></tr>
	<tr><td>51st State Master Set</td><td>1</td></tr>
	<tr><td>51st State (toy vault Ed)</td><td>1</td></tr>
	<tr><td>5 in 1 Classic Game Set</td><td>1</td></tr>
	<tr><td>5-minute Dungeon</td><td>1</td></tr>
	<tr><td>60 Seconds to Save the World</td><td>1</td></tr>
	<tr><td>6 Nimmt</td><td>1</td></tr>
	<tr><td>7 Wonders</td><td>1</td></tr>
	<tr><td>7 Wonders: Babel</td><td>1</td></tr>
	<tr><td>7 Wonders Duel</td><td>5</td></tr>
	<tr><td>7 Wonders Duel Pantheon</td><td>1</td></tr>
	<tr><td>Above and Below</td><td>2</td></tr>
	<tr><td>Abyss</td><td>1</td></tr>
	<tr><td>Aeon's End</td><td>1</td></tr>
	<tr><td>A Fake artist Goes to New York</td><td>1</td></tr>
	<tr><td>A Feast for Odin</td><td>1</td></tr>
	<tr><td>A Fistful of Penguins</td><td>1</td></tr>
	<tr><td>A Game of Thrones: The Board Game (Second Edition)</td><td>1</td></tr>
	<tr><td>Agents of SMERSH</td><td>1</td></tr>
	<tr><td>Age of Industry</td><td>2</td></tr>
	<tr><td>Age of Steam</td><td>1</td></tr>
	<tr><td>Aggravation</td><td>1</td></tr>
	<tr><td>Agricola</td><td>3</td></tr>
	<tr><td>A Handful of Stars</td><td>1</td></tr>
	<tr><td>Airborne Commander</td><td>1</td></tr>
	<tr><td>Airlines Europe</td><td>1</td></tr>
	<tr><td>Akrotiri</td><td>1</td></tr>
	<tr><td>A La Carte</td><td>1</td></tr>
	<tr><td>Alchemists</td><td>1</td></tr>
	<tr><td>Alhambra</td><td>2</td></tr>
	<tr><td>Alhambra: Big Box</td><td>1</td></tr>
	<tr><td>Alhambra: The Dice Game</td><td>1</td></tr>
	<tr><td>Alien Frontiers</td><td>3</td></tr>
	<tr><td>Amerigo</td><td>1</td></tr>
	<tr><td>Among the Stars</td><td>1</td></tr>
	<tr><td>Ancient Terrible Things</td><td>1</td></tr>
	<tr><td>Android</td><td>2</td></tr>
	<tr><td>Android: Infiltration</td><td>1</td></tr>
	<tr><td>Antarctica</td><td>1</td></tr>
	<tr><td>Apples to Apples</td><td>1</td></tr>
	<tr><td>AquaSphere</td><td>2</td></tr>
	<tr><td>Arboretum</td><td>1</td></tr>
	<tr><td>Archaeology: The Card Game</td><td>2</td></tr>
	<tr><td>Archipelago</td><td>1</td></tr>
	<tr><td>Area 1851</td><td>1</td></tr>
	<tr><td>Arena Roma II</td><td>1</td></tr>
	<tr><td>Arkwright</td><td>2</td></tr>
	<tr><td>Ascending Empires</td><td>1</td></tr>
	<tr><td>Ascension: Dreamscape</td><td>1</td></tr>
	<tr><td>Ascension: Realms Unraveled</td><td>1</td></tr>
	<tr><td>Ascension: Storm of Souls</td><td>1</td></tr>
	<tr><td>Ascension X: War of Shadows</td><td>1</td></tr>
	<tr><td>Asgard</td><td>1</td></tr>
	<tr><td>ASHES Rise of the Phoenixborn</td><td>2</td></tr>
	<tr><td>At the Gates of Loyang</td><td>1</td></tr>
	<tr><td>Australian Rails</td><td>1</td></tr>
	<tr><td>Avenue</td><td>2</td></tr>
	<tr><td>Ave Roma</td><td>1</td></tr>
	<tr><td>Axis & Allies</td><td>1</td></tr>
	<tr><td>Azul</td><td>3</td></tr>
	<tr><td>Babel</td><td>1</td></tr>
	<tr><td>Bananagrams</td><td>1</td></tr>
	<tr><td>BANG!</td><td>2</td></tr>
	<tr><td>BANG! Dodge City</td><td>1</td></tr>
	<tr><td>Bang! The Dice Game</td><td>1</td></tr>
	<tr><td>Bang! Wild West Show</td><td>1</td></tr>
	<tr><td>Barcelona: The Rose of Fire</td><td>1</td></tr>
	<tr><td>Bärenpark</td><td>3</td></tr>
	<tr><td>Baseball Highlights: 2045</td><td>1</td></tr>
	<tr><td>BattleCON: Devastation of Indines</td><td>1</td></tr>
	<tr><td>Battle for Hill 218</td><td>1</td></tr>
	<tr><td>Battle for Souls</td><td>1</td></tr>
	<tr><td>Battle Line</td><td>1</td></tr>
	<tr><td>BattleLore (Second Edition)</td><td>1</td></tr>
	<tr><td>Battle Sheep</td><td>1</td></tr>
	<tr><td>Battleship</td><td>2</td></tr>
	<tr><td>Battles of Westeros</td><td>1</td></tr>
	<tr><td>Battlestar Galactica: The Board Game</td><td>1</td></tr>
	<tr><td>Battling Bones</td><td>1</td></tr>
	<tr><td>BEARS!</td><td>1</td></tr>
	<tr><td>Belfort</td><td>1</td></tr>
	<tr><td>Biblios</td><td>2</td></tr>
	<tr><td>Big Boggle</td><td>1</td></tr>
	<tr><td>BIOS: Genesis</td><td>1</td></tr>
	<tr><td>BIOS: Megafauna</td><td>1</td></tr>
	<tr><td>Black Orchestra</td><td>1</td></tr>
	<tr><td>Blokus</td><td>1</td></tr>
	<tr><td>Bloodborne TCG</td><td>1</td></tr>
	<tr><td>Blood Bowl: Team Manager – The Card Game</td><td>2</td></tr>
	<tr><td>Blood Mansion</td><td>1</td></tr>
	<tr><td>Blood Rage</td><td>2</td></tr>
	<tr><td>Blue Moon Legends</td><td>1</td></tr>
	<tr><td>Blueprints</td><td>1</td></tr>
	<tr><td>Bohnanza</td><td>1</td></tr>
	<tr><td>Bohnanza: The Duel</td><td>1</td></tr>
	<tr><td>bOOLeO</td><td>1</td></tr>
	<tr><td>Bora Bora</td><td>1</td></tr>
	<tr><td>Boss Monster</td><td>3</td></tr>
	<tr><td>Boss Monster 2: The Next Level</td><td>1</td></tr>
	<tr><td>Bountytown</td><td>1</td></tr>
	<tr><td>Brainstormer</td><td>1</td></tr>
	<tr><td>Brass Lancashire</td><td>3</td></tr>
	<tr><td>Brew Crafters: The Travel Card Game</td><td>1</td></tr>
	<tr><td>Brides & Bribes</td><td>1</td></tr>
	<tr><td>Bridge Troll</td><td>1</td></tr>
	<tr><td>Briefcase</td><td>1</td></tr>
	<tr><td>Bring Out Yer Dead</td><td>2</td></tr>
	<tr><td>Bruges</td><td>1</td></tr>
	<tr><td>Bruxelles 1893</td><td>1</td></tr>
	<tr><td>B-Sieged</td><td>2</td></tr>
	<tr><td>Buccaneer Bones</td><td>1</td></tr>
	<tr><td>Bullfrogs</td><td>2</td></tr>
	<tr><td>Bunny Bunny Moose Moose</td><td>1</td></tr>
	<tr><td>Cacao</td><td>1</td></tr>
	<tr><td>Caesar & Cleopatra </td><td>1</td></tr>
	<tr><td>Ca$h 'n Guns (Second Edition)</td><td>1</td></tr>
	<tr><td>Camel Up</td><td>1</td></tr>
	<tr><td>Can’t Stop</td><td>1</td></tr>
	<tr><td>Can’t Stop Express</td><td>1</td></tr>
	<tr><td>Carcassonne</td><td>1</td></tr>
	<tr><td>Carcassonne: Amazonas</td><td>1</td></tr>
	<tr><td>Carcassonne Big Box 5</td><td>1</td></tr>
	<tr><td>Carcassonne The Castle</td><td>2</td></tr>
	<tr><td>Carcassonne: The Dice Game</td><td>1</td></tr>
	<tr><td>Cardline: Dinosaurs</td><td>1</td></tr>
	<tr><td>Cardline: Globetrotter</td><td>2</td></tr>
	<tr><td>Carnival Zombie</td><td>1</td></tr>
	<tr><td>Cartagena</td><td>1</td></tr>
	<tr><td>Car Wars</td><td>1</td></tr>
	<tr><td>Castles of Burgundy </td><td>1</td></tr>
	<tr><td>Castles of Burgundy Card Game</td><td>1</td></tr>
	<tr><td>Castles of Mad King Ludwig</td><td>3</td></tr>
	<tr><td>Catacombs (third edition)</td><td>1</td></tr>
	<tr><td>Cathedral</td><td>1</td></tr>
	<tr><td>Cat Lady</td><td>1</td></tr>
	<tr><td>Cat Tower</td><td>1</td></tr>
	<tr><td>Caverna</td><td>3</td></tr>
	<tr><td>Caverna: Cave vs. Cave</td><td>3</td></tr>
	<tr><td>Cave Troll</td><td>1</td></tr>
	<tr><td>Caylus</td><td>3</td></tr>
	<tr><td>Century: Spice Road</td><td>2</td></tr>
	<tr><td>Championship Formula Racing</td><td>1</td></tr>
	<tr><td>Champions of Midgard</td><td>1</td></tr>
	<tr><td>Chaos in the Old World</td><td>1</td></tr>
	<tr><td>Cheaty Mages!</td><td>1</td></tr>
	<tr><td>Chemistry Fluxx</td><td>1</td></tr>
	<tr><td>Chess</td><td>1</td></tr>
	<tr><td>Chickyboom</td><td>1</td></tr>
	<tr><td>China Rails</td><td>2</td></tr>
	<tr><td>Chinatown</td><td>1</td></tr>
	<tr><td>Chrononauts</td><td>2</td></tr>
	<tr><td>Circus Flohcati</td><td>1</td></tr>
	<tr><td>Citadels</td><td>3</td></tr>
	<tr><td>City of Iron</td><td>1</td></tr>
	<tr><td>City of Spies: Estoril 1942</td><td>1</td></tr>
	<tr><td>Clank! A Deck-building Adventure</td><td>2</td></tr>
	<tr><td>Clank! Sunken Treasure</td><td>1</td></tr>
	<tr><td>Claustrophobia</td><td>1</td></tr>
	<tr><td>Cleopatra and the Society of Architects</td><td>1</td></tr>
	<tr><td>Click Clack Lumberjack</td><td>1</td></tr>
	<tr><td>CN Fluxx</td><td>1</td></tr>
	<tr><td>CO₂</td><td>1</td></tr>
	<tr><td>Coal Baron</td><td>2</td></tr>
	<tr><td>Codenames</td><td>3</td></tr>
	<tr><td>Codenames Duet</td><td>2</td></tr>
	<tr><td>Codenames: Marvel</td><td>1</td></tr>
	<tr><td>Codenames Pictures</td><td>1</td></tr>
	<tr><td>Cold War: CIA vs KGB</td><td>1</td></tr>
	<tr><td>Coloretto</td><td>1</td></tr>
	<tr><td>Colt Express</td><td>1</td></tr>
	<tr><td>Combat The Fighting Infantry Game Based on the abc Television Network Show</td><td>1</td></tr>
	<tr><td>Commands & Colors: Ancients</td><td>1</td></tr>
	<tr><td>Compounded</td><td>3</td></tr>
	<tr><td>Concept</td><td>1</td></tr>
	<tr><td>Concordia</td><td>2</td></tr>
	<tr><td>Constantinopolis</td><td>1</td></tr>
	<tr><td>Continental Express</td><td>1</td></tr>
	<tr><td>Core Worlds</td><td>1</td></tr>
	<tr><td>Cottage Garden</td><td>1</td></tr>
	<tr><td>Coup</td><td>2</td></tr>
	<tr><td>Courtier</td><td>1</td></tr>
	<tr><td>Court of the Medici</td><td>1</td></tr>
	<tr><td>Cowpoker</td><td>1</td></tr>
	<tr><td>Crab Stack</td><td>1</td></tr>
	<tr><td>Craftsmen</td><td>1</td></tr>
	<tr><td>Cranium</td><td>1</td></tr>
	<tr><td>Crappy Birthday</td><td>1</td></tr>
	<tr><td>Cribbage</td><td>1</td></tr>
	<tr><td>Cry Havoc</td><td>1</td></tr>
	<tr><td>Cthulhu Realms</td><td>1</td></tr>
	<tr><td>Cthulu Fluxx</td><td>1</td></tr>
	<tr><td>Cube Quest</td><td>1</td></tr>
	<tr><td>Cyclades</td><td>1</td></tr>
	<tr><td>Cytosis: A Cell Biology Board Game</td><td>1</td></tr>
	<tr><td>Dark, Darker, Darkest</td><td>1</td></tr>
	<tr><td>Dark Gothic</td><td>1</td></tr>
	<tr><td>Days of Ire: Budapest 1956</td><td>1</td></tr>
	<tr><td>Dead Man’s Draw</td><td>1</td></tr>
	<tr><td>Dead of Winter: A Crossroads Game</td><td>2</td></tr>
	<tr><td>Deck Building: The Deck Building Game</td><td>1</td></tr>
	<tr><td>Decrypto</td><td>1</td></tr>
	<tr><td>Deep Sea</td><td>1</td></tr>
	<tr><td>Defenders of the Realm</td><td>1</td></tr>
	<tr><td>Desperados of Dice Town</td><td>1</td></tr>
	<tr><td>Deus</td><td>1</td></tr>
	<tr><td>Diamonds</td><td>1</td></tr>
	<tr><td>Dice City</td><td>2</td></tr>
	<tr><td>Dice Forge</td><td>1</td></tr>
	<tr><td>Dice Heist</td><td>1</td></tr>
	<tr><td>Dice Stars</td><td>1</td></tr>
	<tr><td>Dicey Peaks</td><td>1</td></tr>
	<tr><td>Diner</td><td>1</td></tr>
	<tr><td>Diplomacy</td><td>1</td></tr>
	<tr><td>Discount Salmon</td><td>1</td></tr>
	<tr><td>Discoveries: The Journals of Lewis & Clark</td><td>1</td></tr>
	<tr><td>Dixit </td><td>1</td></tr>
	<tr><td>Dixit Jinx</td><td>2</td></tr>
	<tr><td>Dixit: Odyssey</td><td>1</td></tr>
	<tr><td>Dogs of War</td><td>1</td></tr>
	<tr><td>Dominant Species</td><td>1</td></tr>
	<tr><td>Dominant Species: The Card Game</td><td>1</td></tr>
	<tr><td>Dominion</td><td>1</td></tr>
	<tr><td>Downforce</td><td>1</td></tr>
	<tr><td>Dragon Brew</td><td>2</td></tr>
	<tr><td>Dragon Lairds</td><td>1</td></tr>
	<tr><td>Dragon Slayer</td><td>1</td></tr>
	<tr><td>Dresden Files Cooperative Card Game</td><td>1</td></tr>
	<tr><td>Dr. Eureka</td><td>1</td></tr>
	<tr><td>Dungeon Lords</td><td>1</td></tr>
	<tr><td>Dungeon Lords: Festival Season</td><td>1</td></tr>
	<tr><td>Dungeon Petz</td><td>3</td></tr>
	<tr><td>Dungeons and Dragons: Conquest of Nerath</td><td>1</td></tr>
	<tr><td>Eclipse</td><td>2</td></tr>
	<tr><td>Eco Fluxx</td><td>1</td></tr>
	<tr><td>Edo</td><td>2</td></tr>
	<tr><td>Eight Minute Empire Legends</td><td>1</td></tr>
	<tr><td>Einstein: His Amazing Life and Incomparable Science</td><td>1</td></tr>
	<tr><td>Elder Sign</td><td>1</td></tr>
	<tr><td>Eldritch Horror</td><td>1</td></tr>
	<tr><td>El Gaucho</td><td>1</td></tr>
	<tr><td>Elysium</td><td>1</td></tr>
	<tr><td>Eminent Domain</td><td>1</td></tr>
	<tr><td>Empire Builder</td><td>1</td></tr>
	<tr><td>Endeavor</td><td>1</td></tr>
	<tr><td>Epic Card Game</td><td>1</td></tr>
	<tr><td>Escape from the Aliens in Outer Space</td><td>1</td></tr>
	<tr><td>Escape: The Curse of the Temple</td><td>3</td></tr>
	<tr><td>Ethnos</td><td>1</td></tr>
	<tr><td>Euphoria: Build a Better Dystopia</td><td>1</td></tr>
	<tr><td>Eurorails</td><td>3</td></tr>
	<tr><td>Evo</td><td>1</td></tr>
	<tr><td>Evolution: Climate</td><td>1</td></tr>
	<tr><td>Evolution the Beginning</td><td>1</td></tr>
	<tr><td>Exodus: Proxima Centauri</td><td>1</td></tr>
	<tr><td>Expo 1906</td><td>1</td></tr>
	<tr><td>Faces</td><td>1</td></tr>
	<tr><td>Fairy Tale</td><td>1</td></tr>
	<tr><td>Falling Sky: The Gallic Revolt Against Caesar</td><td>1</td></tr>
	<tr><td>Farmageddon</td><td>1</td></tr>
	<tr><td>Fastrack</td><td>1</td></tr>
	<tr><td>Fauna</td><td>1</td></tr>
	<tr><td>Feed the Kitty</td><td>1</td></tr>
	<tr><td>Felicity: The Cat in the Sack</td><td>1</td></tr>
	<tr><td>Felix: The Cat in the Sack</td><td>1</td></tr>
	<tr><td>Fief: France 1429</td><td>1</td></tr>
	<tr><td>Fields of Green</td><td>1</td></tr>
	<tr><td>Finca</td><td>1</td></tr>
	<tr><td>Firefly Fluxx</td><td>1</td></tr>
	<tr><td>Firenze</td><td>1</td></tr>
	<tr><td>First Class</td><td>1</td></tr>
	<tr><td>Five Tribes</td><td>2</td></tr>
	<tr><td>Flamme Rouge</td><td>1</td></tr>
	<tr><td>Flatline</td><td>1</td></tr>
	<tr><td>Fleet</td><td>2</td></tr>
	<tr><td>Flick 'em Up</td><td>1</td></tr>
	<tr><td>Flick’em Up Dead of Winter</td><td>1</td></tr>
	<tr><td>Flip Ships</td><td>3</td></tr>
	<tr><td>Florenza TCG</td><td>1</td></tr>
	<tr><td>Flower Fall</td><td>1</td></tr>
	<tr><td>Fluxx</td><td>1</td></tr>
	<tr><td>Forbidden Desert</td><td>2</td></tr>
	<tr><td>Forbidden Island </td><td>3</td></tr>
	<tr><td>Forbidden Stars</td><td>1</td></tr>
	<tr><td>For-Ex</td><td>1</td></tr>
	<tr><td>Forged in Steel</td><td>1</td></tr>
	<tr><td>Forge War</td><td>1</td></tr>
	<tr><td>Formula D</td><td>1</td></tr>
	<tr><td>For Sale</td><td>1</td></tr>
	<tr><td>Fortress</td><td>1</td></tr>
	<tr><td>Fresco</td><td>2</td></tr>
	<tr><td>Friday</td><td>1</td></tr>
	<tr><td>Fury of Dracula</td><td>1</td></tr>
	<tr><td>FUSE</td><td>3</td></tr>
	<tr><td>Game of Thrones: The Iron Throne</td><td>1</td></tr>
	<tr><td>Gang of Four</td><td>1</td></tr>
	<tr><td>Garden Dice</td><td>1</td></tr>
	<tr><td>Gears of War</td><td>1</td></tr>
	<tr><td>Geek Out!</td><td>1</td></tr>
	<tr><td>Get the MacGuffin</td><td>1</td></tr>
	<tr><td>Ghosts Love Candy</td><td>1</td></tr>
	<tr><td>Ghost Stories</td><td>1</td></tr>
	<tr><td>Give Me the Brain!</td><td>1</td></tr>
	<tr><td>Give Me The Brain</td><td>1</td></tr>
	<tr><td>Glass Road</td><td>2</td></tr>
	<tr><td>Glen More</td><td>1</td></tr>
	<tr><td>Global Mogul</td><td>1</td></tr>
	<tr><td>Glory To Rome</td><td>1</td></tr>
	<tr><td>Go Goblin, Go!</td><td>1</td></tr>
	<tr><td>Good Cop Bad Cop</td><td>1</td></tr>
	<tr><td>Grand Austria Hotel</td><td>2</td></tr>
	<tr><td>Grand Prix</td><td>1</td></tr>
	<tr><td>Gravwell</td><td>1</td></tr>
	<tr><td>Great Heartland Hauling Co.</td><td>1</td></tr>
	<tr><td>Great Western Trail</td><td>1</td></tr>
	<tr><td>Gubs</td><td>1</td></tr>
	<tr><td>Guess Who? Star Wars</td><td>1</td></tr>
	<tr><td>Guilds of London</td><td>1</td></tr>
	<tr><td>Guillotine</td><td>1</td></tr>
	<tr><td>Gunrunners</td><td>1</td></tr>
	<tr><td>Haggis</td><td>2</td></tr>
	<tr><td>Haleakala</td><td>1</td></tr>
	<tr><td>Hanabi</td><td>2</td></tr>
	<tr><td>Hansa Teutonica</td><td>1</td></tr>
	<tr><td>Happy Salmon (Blue)</td><td>1</td></tr>
	<tr><td>Harbour</td><td>2</td></tr>
	<tr><td>Hardback</td><td>1</td></tr>
	<tr><td>Harry Potter Hogwarts Battle</td><td>1</td></tr>
	<tr><td>Harvest Dice</td><td>1</td></tr>
	<tr><td>Haspelknecht</td><td>3</td></tr>
	<tr><td>Hawaii</td><td>1</td></tr>
	<tr><td>Healthy Heart Hospital</td><td>1</td></tr>
	<tr><td>Herbaceous</td><td>1</td></tr>
	<tr><td>Hey, That's My Fish!</td><td>2</td></tr>
	<tr><td>High Frontier (3rd edition)</td><td>1</td></tr>
	<tr><td>Hisss</td><td>2</td></tr>
	<tr><td>Hive</td><td>2</td></tr>
	<tr><td>Hive Pocket</td><td>1</td></tr>
	<tr><td>Hoax</td><td>1</td></tr>
	<tr><td>Holmes: Sherlock & Mycroft</td><td>1</td></tr>
	<tr><td>Homesteaders</td><td>1</td></tr>
	<tr><td>Honshu</td><td>1</td></tr>
	<tr><td>Hordes: High Command</td><td>1</td></tr>
	<tr><td>Hyperborea</td><td>3</td></tr>
	<tr><td>Ice Cool</td><td>2</td></tr>
	<tr><td>Imperial 2030</td><td>1</td></tr>
	<tr><td>Imperial Settlers</td><td>3</td></tr>
	<tr><td>Import / Export</td><td>1</td></tr>
	<tr><td>Impulse</td><td>1</td></tr>
	<tr><td>Inbetween</td><td>1</td></tr>
	<tr><td>Indian Summer</td><td>1</td></tr>
	<tr><td>Infiltration</td><td>1</td></tr>
	<tr><td>Ingenious Challenges</td><td>1</td></tr>
	<tr><td>Innovation</td><td>2</td></tr>
	<tr><td>Innovation: Echoes of the Past</td><td>2</td></tr>
	<tr><td>Innovation: Figures in the Sand</td><td>1</td></tr>
	<tr><td>Ion</td><td>1</td></tr>
	<tr><td>Iron Dragon</td><td>3</td></tr>
	<tr><td>Isla Dorada</td><td>1</td></tr>
	<tr><td>Island Siege</td><td>1</td></tr>
	<tr><td>Isle of Skye: From Chieftain to King</td><td>1</td></tr>
	<tr><td>Istanbul</td><td>1</td></tr>
	<tr><td>Istanbul: The Dice Game</td><td>1</td></tr>
	<tr><td>Jaipur</td><td>3</td></tr>
	<tr><td>Johari</td><td>1</td></tr>
	<tr><td>John Company</td><td>1</td></tr>
	<tr><td>Jórvík</td><td>1</td></tr>
	<tr><td>Junk Art</td><td>2</td></tr>
	<tr><td>Junk In My Trunk</td><td>1</td></tr>
	<tr><td>Kanban: Automotive Revolution</td><td>2</td></tr>
	<tr><td>KaosBall</td><td>1</td></tr>
	<tr><td>Karuba</td><td>1</td></tr>
	<tr><td>Kemet</td><td>1</td></tr>
	<tr><td>Keyflower</td><td>2</td></tr>
	<tr><td>Keyflower: The Farmers</td><td>1</td></tr>
	<tr><td>Killer Bunnies</td><td>1</td></tr>
	<tr><td>King Chocolate</td><td>1</td></tr>
	<tr><td>Kingdom Builder</td><td>3</td></tr>
	<tr><td>Kingdomino</td><td>3</td></tr>
	<tr><td>Kingdomino -Giant Version</td><td>1</td></tr>
	<tr><td>King of New York</td><td>2</td></tr>
	<tr><td>King of Tokyo</td><td>4</td></tr>
	<tr><td>Kingsburg</td><td>1</td></tr>
	<tr><td>Knit Wit</td><td>1</td></tr>
	<tr><td>Kodama: The Tree Spirits</td><td>1</td></tr>
	<tr><td>L99 Minigame Library</td><td>1</td></tr>
	<tr><td>Lagoon: Land of Druids</td><td>1</td></tr>
	<tr><td>La Granja</td><td>1</td></tr>
	<tr><td>La Granja: No Siesta</td><td>1</td></tr>
	<tr><td>La Isla</td><td>1</td></tr>
	<tr><td>Lancaster</td><td>1</td></tr>
	<tr><td>Lanterns: The Harvest Festival</td><td>1</td></tr>
	<tr><td>Last Night on Earth</td><td>1</td></tr>
	<tr><td>Last Will</td><td>2</td></tr>
	<tr><td>Legendary: a Marvel Deck Building Game</td><td>2</td></tr>
	<tr><td>Legendary: Dark City: A Marvel Deck Building Game</td><td>1</td></tr>
	<tr><td>Legendary Encounters: Aliens</td><td>1</td></tr>
	<tr><td>Legendary Encounters: Predator</td><td>1</td></tr>
	<tr><td>Le Havre</td><td>1</td></tr>
	<tr><td>Letters from Whitechapel</td><td>1</td></tr>
	<tr><td>Letter Tycoon</td><td>1</td></tr>
	<tr><td>Lewis & Clark</td><td>3</td></tr>
	<tr><td>Libertalia</td><td>1</td></tr>
	<tr><td>Life on the Farm Board Game</td><td>1</td></tr>
	<tr><td>Lignum</td><td>1</td></tr>
	<tr><td>Lignum (second edition)</td><td>1</td></tr>
	<tr><td>Limes</td><td>1</td></tr>
	<tr><td>London Dread</td><td>1</td></tr>
	<tr><td>Longhorn</td><td>1</td></tr>
	<tr><td>Loopin' Chewie</td><td>1</td></tr>
	<tr><td>Lord of the Fries</td><td>2</td></tr>
	<tr><td>Lord of the Rings Confrontation</td><td>3</td></tr>
	<tr><td>Lord of the Rings Deck Building Game</td><td>1</td></tr>
	<tr><td>Lord of the Rings: Journey to Mordor</td><td>1</td></tr>
	<tr><td>Lords of Scotland</td><td>1</td></tr>
	<tr><td>Lords of Waterdeep</td><td>2</td></tr>
	<tr><td>Lords of Xidit</td><td>2</td></tr>
	<tr><td>Lost Cities</td><td>1</td></tr>
	<tr><td>Lost Expedition</td><td>1</td></tr>
	<tr><td>Lost in R'lyeh</td><td>1</td></tr>
	<tr><td>Lotus</td><td>2</td></tr>
	<tr><td>Lovecraft Letter</td><td>2</td></tr>
	<tr><td>Love Letter</td><td>1</td></tr>
	<tr><td>Love Letter: Batman</td><td>3</td></tr>
	<tr><td>Love Letter: Hobbit</td><td>1</td></tr>
	<tr><td>Love Letter: Kania Factory Ltd Ed</td><td>1</td></tr>
	<tr><td>Love Letter Premium Edition</td><td>1</td></tr>
	<tr><td>Luchador! Mexican Wrestling Dice</td><td>1</td></tr>
	<tr><td>Lucidity: Six-Sided Nightmares</td><td>2</td></tr>
	<tr><td>Madeira</td><td>1</td></tr>
	<tr><td>Mad Libs Card Game</td><td>1</td></tr>
	<tr><td>Mad Science Expo</td><td>1</td></tr>
	<tr><td>Mage Knight</td><td>2</td></tr>
	<tr><td>Magic Maze</td><td>1</td></tr>
	<tr><td>Maharani</td><td>1</td></tr>
	<tr><td>Mahjong</td><td>1</td></tr>
	<tr><td>Majesty: For the Realm</td><td>1</td></tr>
	<tr><td>Mamma Mia! Plus</td><td>1</td></tr>
	<tr><td>Manhattan Project</td><td>1</td></tr>
	<tr><td>Mansions of Madness 1st Ed</td><td>1</td></tr>
	<tr><td>Marrakech </td><td>1</td></tr>
	<tr><td>Marrying Mr. Darcy</td><td>1</td></tr>
	<tr><td>Martian Dice</td><td>1</td></tr>
	<tr><td>Martian Rails</td><td>2</td></tr>
	<tr><td>Martians!!!</td><td>1</td></tr>
	<tr><td>Mechs Vs. Minions</td><td>1</td></tr>
	<tr><td>Medici Card Game</td><td>1</td></tr>
	<tr><td>Memoir '44</td><td>1</td></tr>
	<tr><td>Mercante</td><td>1</td></tr>
	<tr><td>Merchants & Marauders</td><td>1</td></tr>
	<tr><td>Merchants & Marauders: Broadsides</td><td>1</td></tr>
	<tr><td>Merkator</td><td>1</td></tr>
	<tr><td>Metro</td><td>1</td></tr>
	<tr><td>Middle-Earth Quest</td><td>1</td></tr>
	<tr><td>Mille Bornes </td><td>1</td></tr>
	<tr><td>Mint Works</td><td>1</td></tr>
	<tr><td>Modern Art</td><td>1</td></tr>
	<tr><td>Mombasa</td><td>2</td></tr>
	<tr><td>Monikers</td><td>2</td></tr>
	<tr><td>Monkeys on the Moon</td><td>1</td></tr>
	<tr><td>Monopoly Gamer</td><td>1</td></tr>
	<tr><td>Monopoly: Spider-Man 3</td><td>1</td></tr>
	<tr><td>Montana</td><td>1</td></tr>
	<tr><td>Monty Python Fluxx</td><td>1</td></tr>
	<tr><td>Mosaix</td><td>1</td></tr>
	<tr><td>Mottainai</td><td>3</td></tr>
	<tr><td>Mr Jack Pocket</td><td>1</td></tr>
	<tr><td>Mü & Lots More</td><td>1</td></tr>
	<tr><td>Munchkin</td><td>1</td></tr>
	<tr><td>Munchkin Marvel</td><td>1</td></tr>
	<tr><td>Murano</td><td>1</td></tr>
	<tr><td>Myrmes</td><td>1</td></tr>
	<tr><td>Mystery Rummy Jack the Ripper</td><td>1</td></tr>
	<tr><td>Mythotopia</td><td>2</td></tr>
	<tr><td>My Village</td><td>1</td></tr>
	<tr><td>Nations</td><td>1</td></tr>
	<tr><td>Nations: The Dice Game</td><td>2</td></tr>
	<tr><td>Navegador</td><td>1</td></tr>
	<tr><td>Near and Far</td><td>1</td></tr>
	<tr><td>Neuroshima: Convoy</td><td>1</td></tr>
	<tr><td>Neuroshima Hex!</td><td>1</td></tr>
	<tr><td>New Bedford</td><td>1</td></tr>
	<tr><td>New Bedford: Rising Tide</td><td>1</td></tr>
	<tr><td>New York 1901</td><td>1</td></tr>
	<tr><td>New York Slice</td><td>1</td></tr>
	<tr><td>Nippon Rails</td><td>1</td></tr>
	<tr><td>Niya</td><td>1</td></tr>
	<tr><td>Not Alone</td><td>1</td></tr>
	<tr><td>Notre Dame</td><td>1</td></tr>
	<tr><td>Notre Dame: 10th Anniversary</td><td>1</td></tr>
	<tr><td>Nyet!</td><td>2</td></tr>
	<tr><td>Oceania</td><td>1</td></tr>
	<tr><td>Octo Dice</td><td>1</td></tr>
	<tr><td>Oddville</td><td>2</td></tr>
	<tr><td>Odin’s Ravens 2nd Edition</td><td>1</td></tr>
	<tr><td>Oh My Goods!</td><td>1</td></tr>
	<tr><td>Omen</td><td>1</td></tr>
	<tr><td>Omen: A Reign of War</td><td>1</td></tr>
	<tr><td>One Deck Dungeon</td><td>1</td></tr>
	<tr><td>One Zero One</td><td>1</td></tr>
	<tr><td>On the Underground</td><td>1</td></tr>
	<tr><td>Ora Et Labora</td><td>3</td></tr>
	<tr><td>Orleans</td><td>3</td></tr>
	<tr><td>Orléans: Invasion</td><td>1</td></tr>
	<tr><td>Orphan Black: The Card Game</td><td>1</td></tr>
	<tr><td>Pandemic</td><td>3</td></tr>
	<tr><td>Pandemic Iberia</td><td>2</td></tr>
	<tr><td>Pandemic: On the Brink</td><td>1</td></tr>
	<tr><td>Pandemic: Reign of Cthulu</td><td>2</td></tr>
	<tr><td>Pandemic: The Cure</td><td>4</td></tr>
	<tr><td>Panic Station</td><td>1</td></tr>
	<tr><td>Paperback</td><td>3</td></tr>
	<tr><td>Parade</td><td>1</td></tr>
	<tr><td>Paris Connection</td><td>1</td></tr>
	<tr><td>Pass the Pandas</td><td>1</td></tr>
	<tr><td>Pastiche</td><td>1</td></tr>
	<tr><td>Patchwork</td><td>4</td></tr>
	<tr><td>Pax Renaissance</td><td>1</td></tr>
	<tr><td>Pecking Order</td><td>2</td></tr>
	<tr><td>Peloponnes</td><td>1</td></tr>
	<tr><td>Pendragon: The Fall of Roman Britain</td><td>1</td></tr>
	<tr><td>Penguin Rescue</td><td>1</td></tr>
	<tr><td>Pentago</td><td>1</td></tr>
	<tr><td>Perudo /Liars Dice</td><td>1</td></tr>
	<tr><td>Phase 10 Dice</td><td>1</td></tr>
	<tr><td>Photosynthesis</td><td>1</td></tr>
	<tr><td>Pictionary</td><td>1</td></tr>
	<tr><td>Pictionary Junior</td><td>1</td></tr>
	<tr><td>Pictureka!</td><td>1</td></tr>
	<tr><td>Pictureka! Card Game</td><td>1</td></tr>
	<tr><td>Piece o' Cake</td><td>1</td></tr>
	<tr><td>Pie Town</td><td>1</td></tr>
	<tr><td>Pillars of Earth</td><td>2</td></tr>
	<tr><td>Pink Hijinks</td><td>1</td></tr>
	<tr><td>Pirateer</td><td>1</td></tr>
	<tr><td>Pirate Fluxx</td><td>1</td></tr>
	<tr><td>Pirates Cove</td><td>1</td></tr>
	<tr><td>Pirates Dice Pirates of the Carribean Dead Man's Chest</td><td>1</td></tr>
	<tr><td>Pit</td><td>2</td></tr>
	<tr><td>Pit Crew</td><td>1</td></tr>
	<tr><td>Pixel Lincon</td><td>1</td></tr>
	<tr><td>Plague Inc</td><td>1</td></tr>
	<tr><td>Planes</td><td>1</td></tr>
	<tr><td>Planet Steam</td><td>1</td></tr>
	<tr><td>Pluckin’ Pairs</td><td>1</td></tr>
	<tr><td>Pokemon: Master Trainer</td><td>1</td></tr>
	<tr><td>Poseidon</td><td>1</td></tr>
	<tr><td>Posthuman</td><td>1</td></tr>
	<tr><td>Potion Explosion</td><td>2</td></tr>
	<tr><td>Power Grid</td><td>2</td></tr>
	<tr><td>Power Grid Card Game</td><td>2</td></tr>
	<tr><td>Praetor</td><td>1</td></tr>
	<tr><td>Prime Time</td><td>1</td></tr>
	<tr><td>Progress: Evolution of Technology</td><td>1</td></tr>
	<tr><td>Puerto Rico</td><td>3</td></tr>
	<tr><td>Puzzle Strike</td><td>1</td></tr>
	<tr><td>Puzzle Strike:Shadows</td><td>1</td></tr>
	<tr><td>Pyramid Poker</td><td>1</td></tr>
	<tr><td>Quadropolis</td><td>1</td></tr>
	<tr><td>Quarantine</td><td>1</td></tr>
	<tr><td>Queendomino</td><td>1</td></tr>
	<tr><td>Queen's Architect</td><td>1</td></tr>
	<tr><td>Quests of Valeria</td><td>2</td></tr>
	<tr><td>Quiddler</td><td>1</td></tr>
	<tr><td>Qwirkle</td><td>2</td></tr>
	<tr><td>Qwixx</td><td>1</td></tr>
	<tr><td>R2-D2 is in Trouble</td><td>1</td></tr>
	<tr><td>Race! Formula 90</td><td>1</td></tr>
	<tr><td>Race for the Galaxy</td><td>2</td></tr>
	<tr><td>Raiders of the North Sea</td><td>1</td></tr>
	<tr><td>Railroad Revolution</td><td>1</td></tr>
	<tr><td>Rallyman</td><td>2</td></tr>
	<tr><td>Raptor</td><td>2</td></tr>
	<tr><td>Rat-A-Tat Cat</td><td>1</td></tr>
	<tr><td>Rattlesnake</td><td>1</td></tr>
	<tr><td>Red7</td><td>2</td></tr>
	<tr><td>Red Hot Silly Peppers</td><td>1</td></tr>
	<tr><td>Relic</td><td>1</td></tr>
	<tr><td>Resistor_</td><td>1</td></tr>
	<tr><td>Rhino Hero Super Battle</td><td>1</td></tr>
	<tr><td>Rising 5: Runes of Asteros</td><td>1</td></tr>
	<tr><td>Risk 40th anniversary</td><td>1</td></tr>
	<tr><td>Risk Lord of the Rings (1st edition)</td><td>1</td></tr>
	<tr><td>Risk: Star Wars Edition</td><td>1</td></tr>
	<tr><td>Ristorante Italia</td><td>1</td></tr>
	<tr><td>Rivals of Catan</td><td>1</td></tr>
	<tr><td>RNtertainment</td><td>1</td></tr>
	<tr><td>Robinson Crusoe: Adventures on the Cursed Island</td><td>1</td></tr>
	<tr><td>Robot Turtles</td><td>1</td></tr>
	<tr><td>Rocky Road à la Mode</td><td>1</td></tr>
	<tr><td>Rococo</td><td>1</td></tr>
	<tr><td>Roll for it!</td><td>2</td></tr>
	<tr><td>Roll For It! Purple Edition</td><td>1</td></tr>
	<tr><td>Roll for the Galaxy</td><td>3</td></tr>
	<tr><td>Rolling America</td><td>1</td></tr>
	<tr><td>Roll Player</td><td>1</td></tr>
	<tr><td>Roll Through the Ages</td><td>1</td></tr>
	<tr><td>Rook</td><td>1</td></tr>
	<tr><td>Rooster Rush</td><td>1</td></tr>
	<tr><td>Rumble in the House</td><td>1</td></tr>
	<tr><td>Runebound 2nd Ed</td><td>1</td></tr>
	<tr><td>Runewars</td><td>1</td></tr>
	<tr><td>Run, Fight or Die</td><td>1</td></tr>
	<tr><td>Russian Railroads</td><td>2</td></tr>
	<tr><td>RYŪ</td><td>1</td></tr>
	<tr><td>Saboteur </td><td>1</td></tr>
	<tr><td>Safranito</td><td>1</td></tr>
	<tr><td>Sagrada</td><td>5</td></tr>
	<tr><td>Saint Malo</td><td>1</td></tr>
	<tr><td>Saint Petersburg (second edition)</td><td>1</td></tr>
	<tr><td>Samurai</td><td>1</td></tr>
	<tr><td>Samurai Sword</td><td>1</td></tr>
	<tr><td>San Juan</td><td>1</td></tr>
	<tr><td>San Juan (second edition)</td><td>1</td></tr>
	<tr><td>Sanssouci</td><td>1</td></tr>
	<tr><td>Santorini</td><td>2</td></tr>
	<tr><td>Scattergories</td><td>1</td></tr>
	<tr><td>Scopa</td><td>1</td></tr>
	<tr><td>Scotland Yard</td><td>1</td></tr>
	<tr><td>Scoville</td><td>1</td></tr>
	<tr><td>Scrabble</td><td>1</td></tr>
	<tr><td>Scrabble Apple</td><td>1</td></tr>
	<tr><td>Scrabble: Slam</td><td>1</td></tr>
	<tr><td>Scrimish</td><td>1</td></tr>
	<tr><td>Seasons</td><td>2</td></tr>
	<tr><td>Sentient</td><td>1</td></tr>
	<tr><td>Sequence</td><td>1</td></tr>
	<tr><td>Settlers of Catan</td><td>1</td></tr>
	<tr><td>Shadowrun: Crossfire</td><td>1</td></tr>
	<tr><td>Shadows Over Camelot</td><td>1</td></tr>
	<tr><td>Sheriff of Nottingham</td><td>2</td></tr>
	<tr><td>Sherlock Holmes Consulting Detective</td><td>1</td></tr>
	<tr><td>Shinobi Clans</td><td>1</td></tr>
	<tr><td>Ships</td><td>1</td></tr>
	<tr><td>Shogun</td><td>1</td></tr>
	<tr><td>Sidereal Confluence: Trading and Negotiation in the Elysian Quadrant</td><td>1</td></tr>
	<tr><td>Skip-Bo</td><td>1</td></tr>
	<tr><td>Sky Tango</td><td>1</td></tr>
	<tr><td>Sleeping Queens</td><td>1</td></tr>
	<tr><td>Small World</td><td>2</td></tr>
	<tr><td>Small World Underground</td><td>1</td></tr>
	<tr><td>Smash Up</td><td>1</td></tr>
	<tr><td>Snake Oil</td><td>1</td></tr>
	<tr><td>Snow Tails</td><td>1</td></tr>
	<tr><td>Sobek</td><td>1</td></tr>
	<tr><td>SpaceBeans</td><td>1</td></tr>
	<tr><td>Space Hulk: Death Angel</td><td>2</td></tr>
	<tr><td>Space Maze</td><td>1</td></tr>
	<tr><td>Spaceteam</td><td>1</td></tr>
	<tr><td>SPANC: Space Pirate Amazon Ninja Catgirls</td><td>1</td></tr>
	<tr><td>Spires</td><td>1</td></tr>
	<tr><td>Spirit Island + Branch and Claw</td><td>1</td></tr>
	<tr><td>Spirits of the Rice Paddy</td><td>1</td></tr>
	<tr><td>Splendor</td><td>5</td></tr>
	<tr><td>Spot it!</td><td>1</td></tr>
	<tr><td>Spyfall</td><td>1</td></tr>
	<tr><td>Spyrium</td><td>1</td></tr>
	<tr><td>Star Fluxx</td><td>1</td></tr>
	<tr><td>Star Realms</td><td>1</td></tr>
	<tr><td>Starship Catan</td><td>1</td></tr>
	<tr><td>Star Trek Panic</td><td>1</td></tr>
	<tr><td>Star Wars 3 Puzzle Pack</td><td>1</td></tr>
	<tr><td>Star Wars Battleship</td><td>1</td></tr>
	<tr><td>Star Wars: Destiny</td><td>1</td></tr>
	<tr><td>Star Wars: Epic Duels</td><td>1</td></tr>
	<tr><td>Star Wars: Imperial Assault</td><td>1</td></tr>
	<tr><td>Star Wars Miniatures: Revenge of the Sith Starter Game</td><td>1</td></tr>
	<tr><td>Star Wars Yahtzee Jr.</td><td>1</td></tr>
	<tr><td>Steam</td><td>1</td></tr>
	<tr><td>Stone Age</td><td>3</td></tr>
	<tr><td>Straight Shooter</td><td>1</td></tr>
	<tr><td>Stronghold</td><td>1</td></tr>
	<tr><td>Subdivision</td><td>1</td></tr>
	<tr><td>Suburbia</td><td>2</td></tr>
	<tr><td>Sugar Gliders</td><td>1</td></tr>
	<tr><td>Super Motherload</td><td>1</td></tr>
	<tr><td>Super Munchkin</td><td>1</td></tr>
	<tr><td>Survive Escape From Atlantis</td><td>1</td></tr>
	<tr><td>Sushi Go!</td><td>2</td></tr>
	<tr><td>Taboo</td><td>1</td></tr>
	<tr><td>Takenoko</td><td>2</td></tr>
	<tr><td>Talisman 4th ed</td><td>1</td></tr>
	<tr><td>Taluva</td><td>1</td></tr>
	<tr><td>Tammany Hall</td><td>1</td></tr>
	<tr><td>Tapple</td><td>1</td></tr>
	<tr><td>Tash-Kalar</td><td>1</td></tr>
	<tr><td>Terraforming Mars</td><td>4</td></tr>
	<tr><td>Terra Mystica</td><td>2</td></tr>
	<tr><td>Terror in Meeple City</td><td>2</td></tr>
	<tr><td>The Battle of Five Armies</td><td>1</td></tr>
	<tr><td>The Big Book of Madness</td><td>1</td></tr>
	<tr><td>The Builders Middle Ages</td><td>1</td></tr>
	<tr><td>The Castles of Burgundy</td><td>3</td></tr>
	<tr><td>The Castles of Burgundy: The Card Game</td><td>2</td></tr>
	<tr><td>The Castles of Burgundy: The Dice Game</td><td>1</td></tr>
	<tr><td>The Cave</td><td>1</td></tr>
	<tr><td>The Climbers</td><td>1</td></tr>
	<tr><td>The Colonists</td><td>2</td></tr>
	<tr><td>The Downfall of Pompeii</td><td>1</td></tr>
	<tr><td>The Duke</td><td>1</td></tr>
	<tr><td>The Flow of History</td><td>1</td></tr>
	<tr><td>The Fox in the Forest</td><td>1</td></tr>
	<tr><td>The Great Heartland Hauling Co.</td><td>1</td></tr>
	<tr><td>The Grizzled</td><td>1</td></tr>
	<tr><td>The Hobbit Deck building game</td><td>1</td></tr>
	<tr><td>The Island Of El Dorado</td><td>1</td></tr>
	<tr><td>The Manhattan Project</td><td>1</td></tr>
	<tr><td>The Manhattan Project: Energy Empire</td><td>1</td></tr>
	<tr><td>The Networks</td><td>1</td></tr>
	<tr><td>The Palaces of Carrara</td><td>1</td></tr>
	<tr><td>The Red Dragon Inn</td><td>1</td></tr>
	<tr><td>The Red Dragon Inn 3</td><td>1</td></tr>
	<tr><td>The Resistance</td><td>2</td></tr>
	<tr><td>The Road to Canterbury</td><td>1</td></tr>
	<tr><td>The Rose King</td><td>1</td></tr>
	<tr><td>The Ruhr: A Story of Coal Trade</td><td>1</td></tr>
	<tr><td>Theseus: Dark Orbit</td><td>1</td></tr>
	<tr><td>The Stars Are Right</td><td>1</td></tr>
	<tr><td>The Voyages of Marco Polo</td><td>1</td></tr>
	<tr><td>The Walled City: Londonderry & Borderlands</td><td>1</td></tr>
	<tr><td>Thief's Market</td><td>2</td></tr>
	<tr><td>This War of Mine: The Board Game</td><td>1</td></tr>
	<tr><td>Three Kingdoms Redux</td><td>1</td></tr>
	<tr><td>Through the Ages: A Story of Civilization</td><td>2</td></tr>
	<tr><td>Thunder & Lightning</td><td>1</td></tr>
	<tr><td>Thunderstone Advance: Towers of Ruin</td><td>1</td></tr>
	<tr><td>Tichu</td><td>1</td></tr>
	<tr><td>Ticket to Ride</td><td>4</td></tr>
	<tr><td>Ticket to Ride Europe</td><td>3</td></tr>
	<tr><td>Ticket to Ride: First Journey (U.S.)</td><td>1</td></tr>
	<tr><td>Tier auf Tier: Das Duell</td><td>1</td></tr>
	<tr><td>Tigris & Euphrates</td><td>1</td></tr>
	<tr><td>Tiki Topple</td><td>1</td></tr>
	<tr><td>Timeline: Discoveries</td><td>1</td></tr>
	<tr><td>Timeline: Diversity</td><td>1</td></tr>
	<tr><td>Timeline: Historical Events</td><td>1</td></tr>
	<tr><td>Timeline: Inventions</td><td>4</td></tr>
	<tr><td>Timeline: Music and Cinema</td><td>2</td></tr>
	<tr><td>T.I.M.E Stories</td><td>2</td></tr>
	<tr><td>Tiny Epic Galaxies</td><td>2</td></tr>
	<tr><td>Tiny Epic Kingdoms</td><td>2</td></tr>
	<tr><td>Tiny Epic Kingdoms: Heroes' Call</td><td>2</td></tr>
	<tr><td>Tiny Epic Quest</td><td>1</td></tr>
	<tr><td>Tiny Epic Western</td><td>1</td></tr>
	<tr><td>Tokaido</td><td>3</td></tr>
	<tr><td>Tomb: Cryptmaster</td><td>1</td></tr>
	<tr><td>Top Dogs</td><td>1</td></tr>
	<tr><td>Topiary</td><td>1</td></tr>
	<tr><td>Traders of Osaka</td><td>1</td></tr>
	<tr><td>Trains</td><td>1</td></tr>
	<tr><td>Trajan</td><td>1</td></tr>
	<tr><td>Tramways</td><td>1</td></tr>
	<tr><td>Trans Europa</td><td>1</td></tr>
	<tr><td>Travel Blokus</td><td>1</td></tr>
	<tr><td>Treasure Mountain</td><td>1</td></tr>
	<tr><td>Trickerion: Legends of Illusion</td><td>2</td></tr>
	<tr><td>Trigger!</td><td>1</td></tr>
	<tr><td>Troyes</td><td>2</td></tr>
	<tr><td>Twilight Squabble</td><td>1</td></tr>
	<tr><td>Tzolk'in: The Mayan Calendar</td><td>2</td></tr>
	<tr><td>Ultimate Stratego</td><td>1</td></tr>
	<tr><td>Ultimate Werewolf</td><td>1</td></tr>
	<tr><td>Unearth</td><td>2</td></tr>
	<tr><td>Unfair</td><td>1</td></tr>
	<tr><td>Uno</td><td>1</td></tr>
	<tr><td>Urban Sprawl</td><td>1</td></tr>
	<tr><td>Valeria: Card Kingdoms</td><td>1</td></tr>
	<tr><td>Valley of the Kings</td><td>1</td></tr>
	<tr><td>Valley of the Kings Afterlife</td><td>1</td></tr>
	<tr><td>Vampire (Reiner Knizia)</td><td>1</td></tr>
	<tr><td>Vanuatu (second edition)</td><td>1</td></tr>
	<tr><td>Via Nebula</td><td>1</td></tr>
	<tr><td>Viceroy</td><td>2</td></tr>
	<tr><td>Vikings on Board</td><td>2</td></tr>
	<tr><td>Village</td><td>1</td></tr>
	<tr><td>Vinhos</td><td>1</td></tr>
	<tr><td>Virulence</td><td>1</td></tr>
	<tr><td>VivaJava: The Coffee Game: The Dice Game</td><td>2</td></tr>
	<tr><td>Volle Wolle</td><td>1</td></tr>
	<tr><td>Walk the Plank!</td><td>1</td></tr>
	<tr><td>Wallenstein</td><td>1</td></tr>
	<tr><td>War of the Ring</td><td>1</td></tr>
	<tr><td>Watson & Holmes </td><td>1</td></tr>
	<tr><td>Whistle Stop</td><td>2</td></tr>
	<tr><td>Whitehall Mystery</td><td>1</td></tr>
	<tr><td>Why Did the Chicken...?</td><td>1</td></tr>
	<tr><td>Wilde Wikinger Machen Fette Beute</td><td>1</td></tr>
	<tr><td>Wizard</td><td>2</td></tr>
	<tr><td>Word on the Street </td><td>1</td></tr>
	<tr><td>World of Tanks: Rush</td><td>1</td></tr>
	<tr><td>Wrong Chemistry</td><td>1</td></tr>
	<tr><td>Wurfel Bohnanza</td><td>1</td></tr>
	<tr><td>Würfel Bohnanza</td><td>1</td></tr>
	<tr><td>Xenoshyft: Onslaught</td><td>1</td></tr>
	<tr><td>Xia: Legends of a Drift System</td><td>1</td></tr>
	<tr><td>Yahtzee</td><td>1</td></tr>
	<tr><td>Yamataï</td><td>1</td></tr>
	<tr><td>Yashima: Legend of the Kami Masters</td><td>1</td></tr>
	<tr><td>Yggdrasil</td><td>1</td></tr>
	<tr><td>Yokohama</td><td>2</td></tr>
	<tr><td>Zombicide: Black Plague</td><td>1</td></tr>
	<tr><td>Zombie Dice</td><td>1</td></tr>
	<tr><td>Zombie Fluxx</td><td>1</td></tr>
	<tr><td>Zombie State</td><td>1</td></tr>
	<tr><td>Zooloretto</td><td>1</td></tr>
	<tr><td>Zpocalypse</td><td>1</td></tr>
</table>
{% endblock content %}